<div *ngFor="let instance of order_list | unique; let i = index">
  <mat-card *ngIf="instance['Created Date'] >= selectedDate" class="waybill">
    <img id="logo" src="../assets/Logo.png" alt="Lifemall 生活百貨" />
    <p>訂單編號Order ID:</p>
    <h3 style="text-align: center;">
      {{ instance["Order Id"].slice(1, -5) }}
      <span class="larger">{{ instance["Order Id"].slice(-5, -1) }}</span>
    </h3>
    <p>收件人Recipiant:</p>
    <h2>{{ instance.Name }}</h2>
    <p>電話Phone Number:</p>
    <h2>{{ instance.Phone }}</h2>
    <p>地址Address:</p>
    <p class="address">
      {{ instance.Address }}
    </p>
    <p>總箱數:</p>
    <div class="pagebreak"></div>
  </mat-card>
</div>
