.waybill {
  display: block;
  width: 100mm;
  height: 150mm;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 300;
}

#logo {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Order Number */
h3 {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

/* Bold Text */
.larger {
  font-family: "Heebo", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

/* Address */
.address {
  font-size: 20px;
  font-weight: 500;
  overflow-wrap: break-word;
}
